<nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon ion-md-menu"></span>
  </button>
  <img src="/static/img/logo.png" class="img-fluid nav-logo-mobile" alt="ClubShare.link">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="container">
      <img src="/static/img/logo.png" class="img-fluid nav-logo-desktop" alt="ClubShare.link">
      <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
        <!-- <li class="nav-item nav-custom-link">
          <a class="nav-link" href="/">Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
        </li>
        <li class="nav-item nav-custom-link  ">
          <a class="nav-link" href="/view/list">Linkliste <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
        </li>
        <li class="nav-item nav-custom-link ">
          <a class="nav-link" href="/upload">Upload <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
        </li>
        <li class="nav-item nav-custom-link ">
          <a class="nav-link" href="/view/stats">Stats <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
        </li> -->
        {% for nav in navigation %}
        <li class="nav-item nav-custom-link">
            <a class="nav-link" href="{{ nav[1] }}">{{ nav[0] }} <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
        </li>
        {% endfor %}
        <li class="nav-item nav-custom-link btn btn-demo-small">
          <a class="nav-link" href="{{ logonbutton[0] }}">{{ logonbutton[1] }} <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
        </li>
      </ul>
      {%- if fullname['data'] %}
      Welcome {{ fullname['data'] }}
      {% endif %}
    </div>
  </div>
</nav>
